<% include partials/header %>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Account</a>
        <a href="#">home</a>
        <a href="#">Sell a product</a>
        <a href="#">product list</a>
        
    </div>


    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
<h1>Welcome to home page</h1>

<% include partials/footer %>