
#input { 
	border: 0; background: #EBE547; padding: 5px; border: 1px solid #421; 
}

#chatBotButton{
	background-color: rgb(233, 121, 16);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  position: fixed;
    bottom: 0px;
    right: 0px;
}
#chatbot { 
	color: #711; 
} 
::-webkit-input-placeholder { 
	color: #711; 
}


.butto{
	display: block;
	 width: 100%;
	 margin-top: 10%;
	 border: 0.2px solid rgb(49, 133, 212); 

	 lighting-color: red;
	 height: 3em;
	 border-radius: 10px;
	 color: white;
}

button:hover{
	background: green;
}

.heading{
	color: rgb(7, 4, 0);
	text-align: center;
	text-shadow: 0.3px 0.4px 10px rgb(252, 252, 252);
	font-weight: 100;
	font-size: 3em;
	margin-top: 0;
	margin-bottom: 0;

}

.formContain{
	text-align: center;
	margin: 0 auto;
	width:40%;
	box-sizing: border-box;
	border-radius: 10px;
	background: #334d50;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.modify{
	width: 100%;
	line-height: 2.5em;
	background: transparent;
	border: 1px solid ;
	border-radius: 10px;
	color: rgb(1199, 14, 106);
	font-size: 1em;
	padding: 2%;
}

.middleIcon{
	height: 20%;
	width: 20%;
	border-radius: 90%;
	margin-top: -15%;
}

.log{
	
	background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
html,body
{

	background: #F1F2B5;  
	background: -webkit-linear-gradient(to right, #135058, #F1F2B5); 
	background: linear-gradient(to right, #135058, #F1F2B5); 

}
.container2{
	margin-top: 18%;
}

input:focus {
 	background-color: white;
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
  color: #fac769;
  text-decoration: none;
}

.paragraph{
	text-align: left;
	font-size: 1.5em;
	color: green !important;
	padding: 3px;
}

input::placeholder{
	color: white;
}

input{
	box-sizing: border-box;
}
.spacing{

	padding-top:10px;
}
.mbr-section-subtitle {
	color: #767676;
	text-align: center !important;
}
.cid-qIjGVVeB7i {
	padding-top: 30px;
	padding-bottom: 30px;
	background: #F1F2B5;  
	background: -webkit-linear-gradient(to right, #135058, #F1F2B5); 
	background: linear-gradient(to right, #135058, #F1F2B5); 

	color: #ffffff;
	text-align: center !important;
  }
.diminish {

	height:150px;
	
}



  .sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #fac769;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }
  #resize {

	
    height: 170px;
  }
  #resize img {
	max-width: 100%;
	width:auto;
    max-height: 100%;
  }
  #addcolor {
	background: #334d50;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
#namestyle {
	font-family: arial black;
	font-weight: bold;
	font-size:40px;
	letter-spacing:2px;
	word-spacing: 2px;
}
#descstyle {
	font-family: arial black;
	
	font-size:150%;
	letter-spacing:2px;
	word-spacing: 2px;
}
#user {
	font-family: impact;
	font-size:200%;
	letter-spacing: 2px;
	color:  rgb(95, 93, 93);
}
#chatbot {
	font-family: arial black;
	font-size:200%;
	letter-spacing: 2px;
	color:  rgb(95, 93, 93);
}
#botimage {
	height:100%;
}
#botimage img {
	height:100%;
	width:50%;
	float:left;
}
#productdetail{
	
	margin-top:8%;
	float: left;
	
}
#productdetail img{
	margin-left:300px;
}
.restdetail{
	margin-left:150px;
	
}
.botconverse {
	margin-top:5px;
}
.jumbotron {
	
	padding-top: 3%;
	padding-bottom: 20%;
	padding-left: 20%;
  }
  #bothead {
	font-family: arial black;
	font-size:300%;
	letter-spacing: 2px;
	margin-bottom:150px;
  }
  #imageupload {
	  font-family:impact;
	  font-size:150%;
  }
  .putaside1 {

	float:left;
  }
  .putaside2 {

	float:left;
  }
  .putaside3 {

	float:left;
  }
  .xtra {
	  margin-top:20px;
  }
  .line {
	  border-right:1px;
  }
  .homecenter {
	  padding-top: 13%;
	  padding-left:33%;

  }
  .homeshift {
	  padding-left:100px;
  }





  